<% function title() { %>
<title></title>
<%}; %>
<% function styles() { %>
<%}; %>

<% function content() { %>

<sample></sample>

<%}; %>

<% function scripts() { %>
<% }; %>
<% include ./layout/_layout %>
